body{
    background-color: #333;
}
.container {
    margin: 0 auto;
    padding: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.1);
  }
  
  
h2,
h4 {
  text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"] {
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  p {
    text-align: center;
    margin-top: 20px;
  }
  
  a {
    color: #6c5ce7;
    text-decoration: none;
  }
  legend{
    border: 10px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 8px;
  }