body {
  background-color:#333;
  justify-content: center;
  align-items: center;
}

.container {
  width: 300px;
  text-align: center;
  padding: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  width: 283px;
  padding: 8px;
  background-color: #074608;
  color: #f5f5f5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align:center;
  text-decoration: none;
  
}

.btn:hover {
  background-color: #0a980f;
}

p {
  margin-top: 10px;
}