body {
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #fff;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.hero {
  background-image: url("IMAGENS/barbeiro.jpg");
  background-size: cover;
  background-position: center;
  height: 590px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  color: #fff;
  font-size: 26px;
  text-align: center;
}

.btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: dotted;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #555;
  cursor: pointer;
}

.servicos {
  text-align: center;
  padding: 50px 0;
  background-color: #333;
}

.servico-item {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  padding: 0 20px;
}

.scroll-indicator {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
}

.scroll-indicator-arrow {
  margin-top: 5px;
}

.scroll-indicator-arrow img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.contato-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contato-form {
  flex: 1 1 300px;
  margin-right: 20px;
}

.contato-endereco {
  flex: 1 1 300px;
}

.contato-form input,
.contato-form textarea {
  width: 70%;
  padding: 5px;
}

.contato-form textarea {
  width: 70%;
  padding: 8px;
}

.contato-form label,
.contato-form button {
  display: block;
  width: 100%;
}

.contato-form button {
  margin-top: 9px;
  width: 73%;
  margin-left: 90px;
  padding: 20px;
}

.contato-endereco h3 {
  margin-top: 0;
}

.contato-endereco p {
  margin-bottom: 10px;
}
